/*HEADER*/
header .media-body h4{color: #2d2d2d;font-weight: normal; font-size: 12px; margin: 0; line-height: normal;}
header .media-body p{color: #2d2d2d; font-weight: 500; font-size: 11px; margin: 0;}
header .media-left{padding-right:6px;}
header .media-left i{    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 15px 13px;
    background-position: left bottom;}
header .media-left i.icphone{background-image: url('img/tel-icon.svg');}
header .media-left i.iclocal{background-image: url('img/location-icon.svg');}
header .media-left i.iclock{background-image: url('img/hour-icon.svg');}
.media,.header-top-social{padding: 23px 0;}
.header-top-social i:before,.foot-social i:before{content:"";padding: 15px;}
.header-top-social .fa-facebook-square:before, .foot-social .fa-facebook-square:before{background: url(img/facebookicon.svg) no-repeat center center; background-size: contain;}
.header-top-social .fa-twitter-square:before, .foot-social .fa-twitter-square:before{background: url(img/tittericon.svg) no-repeat center center; background-size: contain;}
.header-top-social .fa-instagram:before, .foot-social .fa-instagram:before{background: url(img/instagramicon.png) no-repeat center center; background-size: contain;}
.header-top-social .fa-pinterest:before, .foot-social .fa-pinterest:before{background: url(img/youtubeicon.svg) no-repeat center center; background-size: contain;}
.navi > ul > li > a{padding: 0 37px;}
/*FILTER*/
.advanced-search-module .fa{display: none;}
.ttsub h4{color:#000;font-size: 21px !important;}
.fwnormal h4{font-weight: normal;}
.footer{padding: 30px 0;}
.footer.footer-v2{text-align: center;}
.footer-bottom{padding: 12px 0}
.footer-v2 img{max-width: 160px;}
.header-mobile{padding: 0 0 20px 0;}
.mnobile{text-align: right;z-index: 5;}
.header-mobile .mobile-nav {width: 100%; line-height: 60px; float: none; z-index: 999; text-align: right; }
.mobile-nav .nav-trigger{font-size: 42px;}
/*MEDIAQUERIES*/
@media screen and (max-width: 767px){
	div.ttsub{width: 100%;}
}
.hparalax{padding: 45px 0px; line-height: 1.5; background-attachment: fixed; background-position: 0 0; box-shadow: 0 6px 8px #ccc; -moz-box-shadow: 0 6px 8px #ccc; -webkit-box-shadow: 0 6px 8px #ccc; -o-box-shadow: 0 6px 8px #ccc; -ms-box-shadow: 0 6px 8px #ccc; margin: 0 0 2% 0; background-size: cover;}
.hparalax h1{margin: 0; text-align: center; color: #fff; font-size: 40px; text-transform: uppercase; font-weight: 400; text-shadow: 1px 1px 2px #000; }
.hr{padding: 40px 0 0 0;}
.agent-listing figure img{filter: grayscale(100%); -webkit-filter: grayscale(100%); transition:filter 0.4s; -webkit-transition:-webkit-filter 1s; }
.agent-listing figure img:hover{filter: grayscale(0);-webkit-filter: grayscale(0);}
/*sidebar form*/
#text-1{background: #0088CD;border-radius: 5px;}
form .com{margin: 0 0 8px 0;}
#text-1 p{margin: 10px 0;}
#text-1 h3,#text-1 p,#text-1 div{color: #fff;}
#text-1 label{display: inline-block;margin: 5px 0;vertical-align: middle;}
#text-1 select{display: block; width: 100%; height: 42px; padding: 6px 15px; font-size: 14px; line-height: 1.42857; color: #959595; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
#text-1 input[type="submit"]{width: 100%;max-width: 100%;}
#text-1 .aceptoterminos{display: inline-block;}
/*sidebar add*/
#text-2{border-radius: 3px;border: 3px solid #22305d !important; text-align: center;}
#text-2 h3,#text-2 p{color:#22305d;}
.profile-detail-block .agent-title a{color: #22305d;font-size: 20px;}
.profile-detail-block .position{color: #00aeef;font-size: 18px;}
.profile-detail-block{transition:all 0.2s;box-shadow: 0px 0px 10px #fff;}
.profile-detail-block:hover{cursor: pointer;box-shadow: 0px 0px 10px #ccc;}
/*Form principal*/
#formcontact select{display: block; width: 100%; height: 42px; padding: 6px 15px; font-size: 14px; line-height: 1.42857; color: #959595; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
#formcontact .aceptoterminos{display: inline-block;}
#formcontact select,#formcontact input{margin: 0 0 20px 0;}
#formcontact input[type="submit"]{width: 100%;max-width: 100%;}
.tabs a{width: 120px;}
.location-block a:hover{display: block;height: 100%;    background: rgba(0, 0, 0, 0.12);}
.location-block a:hover:before{opacity: 1; background: transparent; border: 6px solid #fff; margin: 15px auto; max-width: 88%; width: 100%; max-height: 340px; height: 100%;}
.location-block a:hover > .location-fig-caption{background: rgba(34, 48, 93, 0.82);padding: 15px;}